<!DOCTYPE html>
<html>
  <head>
    <title>欢迎来到NODE.JS的微博站点</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src='/javascripts/jquery-2.1.0.min.js'></script>
    <script type="text/javascript" src='/javascripts/bootstrap.min.js'></script>
  </head>
  <body>
    <h1>使用bootstrap框架的web站点</h1>
  </body>
</html>