<!DOCTYPE html>
<html>
  <head>
    <title>欢迎来到NODE.JS的微博站点</title>
    <mate name="viewport" content="width=device-width,initial-scale=1.0"></mate>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></mate>
    <link rel="shortcut icon" href="/images/logo.jpg">
	<link rel="stylesheet" href='/stylesheets/bootstrap/bootstrap-theme.css' />
	<link rel="stylesheet" href='/stylesheets/bootstrap/bootstrap.css' />
  </head>
  <body>
	<a href="/reg">点击跳转到注册页面</a>  	
	<a href="">点击跳转到登录页面</a>  	
    <script type="text/javascript" src='/javascripts/jquery-2.1.0.min.js'></script>
    <script type="text/javascript" src='/javascripts/bootstrap/bootstrap.min.js'></script>
  </body>
</html>